# Dependencies
node_modules/

# Environment files
.env
.env.*
utils/process.env
process.env

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Build output
dist/
build/
